@CHARSET "UTF-8";

.search-results p, .search-snippet {
  clear: both;
}

.europeana-snippet {
  clear: both;
  display: block;
  height: auto;
}

.europeana-thumbnail {
  float:left;
  display: block;
  height: 120px;
  width: 160px;
  
}

.europeana-metadata {
  /* float:left; */
  display: block;
}